_site
Gemfile
Gemfile.lock
hey.html

# mdBook generated output
/book/

# Operating System files
.DS_Store
Thumbs.db
Desktop.ini
._*

# IDE/Editor specific files
.vscode/
.idea/
.jekyll-cache
*.project
*.tmproj
*.sublime-workspace
*.sublime-project
nbproject/
*.sln
*.suo
*.user
*.userprefs
*.bak
*.orig
*.swp
*~